$background-color: #f4f1ec;
$nav-background-color: #4056A1;
$secondary-nav-background-color: #dfa033;
$nav-icon-color: #ff0000;
$tweet-icon-color: #4056A1;
$shadow-color: #b3c0ef;
$font-color: #ffffff;
$tweet-font-color: #545149;
$border-color: #31302b;
$primary-font: "Bungee", sans-serif;
$secondary-font: "Source Sans 3", sans-serif;
