@use "_variables" as *;

.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 5%;
}

.btn-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $primary-font;
}

.btn-count button {
  color: $font-color;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: $nav-background-color;
  border: none;
  padding: 1%;
  margin: 1%;
}

.btn-count button:hover {
  background-color: #304060;
  color: $font-color;
  transition: 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 1.5%;
  background-color: inherit;
  height: auto;
  border: none;
  border-bottom: 0.3em solid $border-color;
}

label {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 10px;
}

.max-count {
  color: $nav-icon-color;
}

.error-msg {
  display: none;
  color: $nav-icon-color;
  font-weight: bold;
  border: 0.1em solid $nav-icon-color;
  padding: 1em;
  margin: 1em;
  text-align: center;
 } 

#empty-error {
  color: $nav-icon-color;
  font-weight: bold;
  border: 0.1em solid $nav-icon-color;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

#length-error {
  color: $nav-icon-color;
  font-weight: bold;
  border: 0.1em solid $nav-icon-color;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.fa-circle-exclamation {
  padding: 0.5em;
}