.new-tweet {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.btn-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", sans-serif;
}

.btn-count button {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #4056A1;
  border: none;
  padding: 1%;
  transition: 0.3s ease, color 0.3s ease;
}

.btn-count button:hover {
  background-color: #304060;
  color: #ffffff;
}

textarea {
  width: 100%;
  padding: 1.5%;
  background-color: inherit;
  height: auto;
  border: none;
  border-bottom: 0.3em solid #31302b;
}

label {
  font-weight: 600;
  font-size: 90%;
  margin-top: 10px;
}

.max-count {
  color: #ff0000;
}